# Import Libraries

In [79]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

# Import webpage

In [80]:
url = 'https://www.theguardian.com/sport/datablog/2012/jun/25/olympic-medal-winner-list-data'
html = urlopen(url)

This is a screenshot of the table :
![img2](Images/img2.png)

# Scrap the desired table

In [81]:
soup = BeautifulSoup(html, 'lxml')

In [82]:
table = soup.find('table')
#print(table)

In [83]:
columns = table.find_all('th')
col = []

for item in columns:
    col.append(item.text)
    
print(f'Before: {col}')

col = [x.replace('\n', '').replace(' ', '') for x in col]

print(f'After: {col}')

Before: ['\n\nAthlete\n ', '\n\nCountry\n ', '\n\nBronze\n ', '\n\nSilver\n ', '\n\nGold\n ', '\n\nGrand Total\n ']
After: ['Athlete', 'Country', 'Bronze', 'Silver', 'Gold', 'GrandTotal']

In [84]:
table_rows = table.find_all('tr')
rows = []

for tr in table_rows:
    td = tr.find_all('td')
    row = [i.text for i in td]
    rows.append(row)

#print(rows)

#rows = [x.replace('\xa0', '').replace(' ', '') for x in rows]

In [85]:
df = pd.DataFrame(rows, columns=col)
display(df.head())

                  Athlete          Country Bronze Silver  Gold GrandTotal
0                    None             None   None   None  None       None
1  \n\n\nSOURCE: IOC\n\n              None   None   None  None       None
2       LATYNINA, Larisa     Soviet Union      4      5     9         18
3        PHELPS, Michael    United States      2       Â    14         16
4     ANDRIANOV, Nikolay     Soviet Union      3      5     7         15

In [86]:
df.drop(index=[0,1], inplace=True)
df.reset_index(inplace=True, drop=True)
df.replace('\xa0', '0', inplace=True)

In [87]:
display(df.head())

                  Athlete          Country Bronze Silver  Gold GrandTotal
0       LATYNINA, Larisa     Soviet Union      4      5     9         18
1        PHELPS, Michael    United States      2       0   14         16
2     ANDRIANOV, Nikolay     Soviet Union      3      5     7         15
3   MANGIAROTTI, Edoardo            Italy      2      5     6         13
4           ONO, Takashi            Japan      4      4     5         13

In [88]:
# There are spaces before and after all the values in our dataframe
display(df[:5].Athlete.unique())

array([' LATYNINA, Larisa ', ' PHELPS, Michael ', ' ANDRIANOV, Nikolay ',
       ' MANGIAROTTI, Edoardo ', ' ONO, Takashi '], dtype=object)

In [89]:
# Delete spaces before and after all the values
for i in df.columns:
    df[i] = df[i].str.strip()

In [90]:
# Display the result for the first five athletes
display(df[:5].Athlete.unique())

array(['LATYNINA, Larisa', 'PHELPS, Michael', 'ANDRIANOV, Nikolay',
       'MANGIAROTTI, Edoardo', 'ONO, Takashi'], dtype=object)