# Import Libraries

In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

# Import webpage

In [2]:
# Import the website url you want to scrape
url = "http://www.hubertiming.com/results/2017GPTR10K"
html = urlopen(url)

This is a screenshot of the table : 
![img1](Images/img1.png)

# Scrap the desired table

In [3]:
soup = BeautifulSoup(html, 'lxml')

In [11]:
table = soup.find('table', attrs={'id': 'individualResults'})

#print(table)

In [12]:
columns = table.find_all('th')
col = []

for item in columns:
    col.append(item.text)
    
print(col)

['Place', 'Bib', 'Name', 'Gender', 'City', 'State', 'Chip Time', 'Chip Pace', 'Gender Place', 'Age Group', 'Age Group Place', 'Time to Start', 'Gun Time', 'Team']

In [14]:
table_rows = table.find_all('tr')
rows = []

for tr in table_rows:
    td = tr.find_all('td')
    row = [i.text for i in td]
    rows.append(row)

#print(rows)

In [15]:
df = pd.DataFrame(rows, columns=col)
display(df.head())

,Place,Bib,Name,Gender,City,State,Chip Time,Chip Pace,Gender Place,Age Group,Age Group Place,Time to Start,Gun Time,Team
0,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,1,814,JARED WILSON,M,TIGARD,OR,36:21,5:51,1 of 414,M 36-45,1 of 152,0:03,36:24,
2,2,573,NATHAN A SUSTERSIC,M,PORTLAND,OR,36:42,5:55,2 of 414,M 26-35,1 of 154,0:03,36:45,\r\n ...
3,3,687,FRANCISCO MAYA,M,PORTLAND,OR,37:44,6:05,3 of 414,M 46-55,1 of 64,0:04,37:48,
4,4,623,PAUL MORROW,M,BEAVERTON,OR,38:34,6:13,4 of 414,M 36-45,2 of 152,0:03,38:37,

In [16]:
df.drop(index=0, inplace=True)
df.reset_index(inplace=True, drop=True)

In [17]:
display(df.head())

,Place,Bib,Name,Gender,City,State,Chip Time,Chip Pace,Gender Place,Age Group,Age Group Place,Time to Start,Gun Time,Team
0,1,814,JARED WILSON,M,TIGARD,OR,36:21,5:51,1 of 414,M 36-45,1 of 152,0:03,36:24,
1,2,573,NATHAN A SUSTERSIC,M,PORTLAND,OR,36:42,5:55,2 of 414,M 26-35,1 of 154,0:03,36:45,\r\n ...
2,3,687,FRANCISCO MAYA,M,PORTLAND,OR,37:44,6:05,3 of 414,M 46-55,1 of 64,0:04,37:48,
3,4,623,PAUL MORROW,M,BEAVERTON,OR,38:34,6:13,4 of 414,M 36-45,2 of 152,0:03,38:37,
4,5,569,DEREK G OSBORNE,M,HILLSBORO,OR,39:21,6:20,5 of 414,M 26-35,2 of 154,0:03,39:24,\r\n ...